body{
    background-color: gainsboro;
}
main{
    display: flex;
}
div{
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 10px;
}

#campoDiasSemanaIng{
    display: none;
}

h4{
    text-align: center;
}

#descricao {
    width: 360px;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    display: none;
    background-color: darkgray;
    border-radius: 10px;
}

p{
    font-size: 17px;
}